<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css' %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.6.0/jquery.timepicker.min.css' %>
  <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.css' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <div class="container">
    <%= render "flashes" -%>
    <div class="text-center">
      <h1 class="lent-alert-main text-center">Lent Alert</h1>
    </div>

    <%= yield %>
  </div>

  <footer>
    <div class="footer-info">
    <%= link_to 'Manage Subscription', '/registrations/edit' %>
    <span class="centerpiece">Made in Brooklyn</span>
    <%= link_to 'Contact Us', 'mailto:atone@lentalert.com' %>
    </div>
  </footer>
  <%= render "javascript" %>
</body>
</html>
